<!-- views/partials/headers.ej -->

<title>TinyApp</title>

<% if (username) {%>
  <h1 style="text-align: right;"><%= username %></h1>
  <form action="/logout" method="POST" style="text-align: right;">
    <button>Logout</button>
  </form>
  <%} else {%>
  <form action="/login" method="POST" style="text-align: right;">
    
    <input type="text" name="username" placeholder="username" required>
      <button>Login</button>
  </form>
<% } %>