<!-- views/partials/headers.ej -->

<title>TinyApp</title>

<form action="/login" method="POST" style="text-align: right;">
  <input type="text" name="username" placeholder="username">
    <button>Login</button>
</form>