<!DOCTYPE html>
<html lang="en">
  <title>TinyApp</title>
  <header>
    <% include ./partials/_header %>
  </header>
  <body>
    <center>
      <h1>Register</h1>
      <form action="/register" method="POST">
        <input name="email" placeholder="email" type="email" required>
        <input name="password" placeholder="password" type="password" required>
        <button>Register</button>
      </form>
  </center>
  </body>
</html>