<!DOCTYPE html>
<html lang="en">
  <title>TinyApp</title>
  <body>
    <form action="/register" method="POST">
      <input name="email" placeholder="email" type="email" required>
      <input name="password" placeholder="password" type="password" required>
      <button>Register</button>
    </form>
  </body>
</html>