<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/_header %>
  </head>
  <body>
    <ul>
      <li><%= longURL %> : <a href='#'><%= shortURL %></a></li>
      </ul>
  </body>
</html>